ACCEPT_EULA=Y
ASPNETCORE_ENVIRONMENT=Development
MSSQL_SA_PASSWORD=
ORDERFLOW_DB_CONNECTION_STRING=Server=host.docker.internal,1433;Database=OrderFlowDb;User
Id=sa;Password=TU_PASSWORD;TrustServerCertificate=True;